<%- include('../includes/head.ejs') %>
<title><%= pageTitle%></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/main-style.css">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/header.ejs') %>
<div class="container">
    <p id="quotes">″You can always change your plan, but only if you have one. I’m a big believer in to-do lists. It helps us break life into small steps. I once put “get tenure” on my to-do list. That was naïve. The most useful to-do list breaks tasks into small steps. It’s like when I encourage Logan to clean his room by picking up one thing at a time.″</p>
    <!--is auth 인 경우에만 보이도록 수정 !! -->
    <a href="/today-todo" class="addTodoBtn button" id="addTodoBtn">add new to do</a>
     <h2></h2>
 </div>
 <script src="js/nav.js"></script>
<%- include('../includes/footer.ejs') %>