<%- include('../includes/head.ejs') %>
<title><%= pageTitle%></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<svg viewBox="0 0 0 0" style="position: absolute; z-index: -1; opacity: 0;">
    <defs>
      <linearGradient id="boxGradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="25" y2="25">
        <stop offset="0%"   stop-color="#27FDC7"/>
        <stop offset="100%" stop-color="#0FC0F5"/>
      </linearGradient>
  
      <linearGradient id="lineGradient">
        <stop offset="0%"    stop-color="#0FC0F5"/>
        <stop offset="100%"  stop-color="#27FDC7"/>
      </linearGradient>
  
      <path id="todo__line" stroke="url(#lineGradient)" d="M21 12.3h168v0.1z"></path>
      <path id="todo__box" stroke="url(#boxGradient)" d="M21 12.7v5c0 1.3-1 2.3-2.3 2.3H8.3C7 20 6 19 6 17.7V7.3C6 6 7 5 8.3 5h10.4C20 5 21 6 21 7.3v5.4"></path>
      <path id="todo__check" stroke="url(#boxGradient)" d="M10 13l2 2 5-5"></path>
      <circle id="todo__circle" cx="13.5" cy="12.5" r="10"></circle>
    </defs>
  </svg>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/header.ejs') %>
    <div class="todo-container">
        <form class="add-todo">
            <input type="text" name="task" class="newTask" placeholder="Add new To do">
            <input type="hidden"  name="_csrf"  value="<%= csrfToken%>"  >
            <input type="button" onClick="addTodo(this)" value="add">
            <div class="radio-box">
                <input type="radio" name="importance" id="strong"> 
                <label for="strong">Very Important!</label>
                <input type="radio" name="importance" id="mid">
                <label for="mid">Kindof..Important!</label>
                <input type="radio" name="importance" id="not">
                <label for="not">Not that Important!</label>
            </div>
        </form>
        <div class="todo-post">
            <a href="#" class="<%=todoList.length === 0? 'removed' : ''%>" id="sort" onclick="sortByImportance();return false;">sort by importance</a>
            <ul class="todo-list <%=todoList.length === 0? 'hidden' : ''%>">
        <% if(todoList.length >0){ %>
            <% todoList.forEach(todo=>{ %>
                <li class="<%= todo.isDone ? 'todo done' : 'todo' %>">
                    <input type="checkbox" id="doneToggle" class="todo__state" onClick="DoneCheck(this)" <%= todo.isDone ? 'checked': '' %>>                        
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 25" class="todo__icon">
                        <use xlink:href="#todo__line" class="todo__line"></use>
                        <use xlink:href="#todo__box" class="todo__box"></use>
                        <use xlink:href="#todo__check" class="todo__check"></use>
                        <use xlink:href="#todo__circle" class="todo__circle"></use>
                    </svg>
                    <input type="hidden" name="postId" id="postId" value="<%=todo._id%>"">
                    <span id="contents"><%= todo.contents %></span>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                          <div class="dropdown-content">
                            <a href="#" onclick="removeOne(this);return false;">delete</a>
                            <a href="#" onclick="popUpModal(this);return false;" >edit</a>
                          </div>
                    </div>
                </li>
            <% }) %>
        <%}%>
    </ul>
        </div>
      
<button id="clear" class="<%= todoList.length===0 ? 'removed' : '' %>" onClick="clearAll(this)">Clear ALL</button>

<button class="add-todo-modal" id="add-todo-modal">+</button>
</div>
<!--modal-->
<div class="modal-container" id="modal-container">
    <div class="modal">
        <button class="close" id="close">
            <i class="fa fa-times"></i>
        </button>
        <div class="modal-header">
            update your to do 
        </div>
        <div class="modal-content">
            <form action="" class="modal-form">
                <div class="form-control">
                    <input type="text" id="contents">
                </div>
                <div class="form-control">
                    <div class="radio-box">
                        <input type="radio" name="importance" id="strong"> 
                        <label for="strong">Very Important!</label>
                        <input type="radio" name="importance" id="mid">
                        <label for="mid">Kindof..Important!</label>
                        <input type="radio" name="importance" id="not">
                        <label for="not">Not that Important!</label>
                    </div>
                </div>
                <div class="form-control">
                    <input type="button" onclick="updatePost(this)" value="Update" class="update">
                </div>
            </form>                
        </div>
    </div>
</div>
    <div class="add-modal-container" id="add-modal-container">
        <div class="add-modal">
            <button class="add-close" id="add-close">
                <i class="fa fa-times"></i>
            </button>
            <div class="add-modal-header">
                Add new To do 
            </div>
            <div class="add-modal-content">
                <form action="" class="add-modal-form">
                    <div class="form-control">
                        <input type="text" name="modal-task" class="newTask" placeholder="Add new To do">
                    </div>
                    <div class="form-control">
                        <div class="radio-box">
                            <input type="radio" name="importance" id="strong"> 
                            <label for="strong">Very Important!</label>
                            <input type="radio" name="importance" id="mid">
                            <label for="mid">Kindof..Important!</label>
                            <input type="radio" name="importance" id="not">
                            <label for="not">Not that Important!</label>
                        </div>
                    </div>
                    <div class="form-control">
                        <input type="button" onclick="addTodo(this)" value="AddModal" class="Add">
                    </div>
                </form>                
            </div>
        </div>
    </div>
<script src="todayTodo_bundle.js"></script>
</body>
</html>