<%- include('../includes/head.ejs') %>
<title><%= pageTitle%></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <%- include('../includes/header.ejs') %>
    <input type="hidden" name="notdone" value="<%=NotDoneLen%>">
    <input type="hidden" name="done" value="<%=DoneLen%>">
    <div class=" info__container">
        <div class="work__info">
            <div class="chart__info">
                <p class="date"><%= date %></p>
                <p class="total">Total amount of works <%= NotDoneLen+DoneLen %></p>
                <p class="completed"> comlpeted <%= DoneLen %> </p>
                <p class="uncompleted"> uncompleted <%= NotDoneLen %></p>
            </div>
            <div class="chart__container">
                <canvas id="completeChart"></canvas>
            </div>
        </div>
        
        <div class="work__list">
            <% if(DoneLen > 0) {%>
            <ul class="completed__list">
                <% Done.forEach(item=>{ %>
                    <li><%=item.contents%></li>
                <% }) %>
            </ul>
            <% }%>
            <% if (NotDoneLen > 0) { %>
            <ul class="uncompleted__list">
                <% NotDone.forEach(item=>{ %>
                    <li><%=item.contents%></li>
                <% }) %>
            </ul>
            <% } %>
        </div>
        <a href="/todo-post" class="button">Back to list</a>
    </div>
    <script src="detail_bundle.js"></script>
</body>
</html>